.videoBlock {
  a{
    color: $mainColor;
    video {
      margin-bottom: 10px;
      max-width: 100%;
      max-height: 40vh;
    }
    .videoBlock__title {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 10px;
    }

  }
  }