.video-detail__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .video__player {
      max-width: 100%;
    }
    .video__info {
      width: 100%;
      max-width: 100%;
      margin-top: 25px;
      padding-bottom: 25px;
      border-bottom: 1px solid #a0a0a0;
      button {
        width: 100px;
        margin-bottom: 25px;
      }
      .video__author{
        a {
          color: #3498db;
        }
      }
      .video__title,
      .video__views,
      .video__description {
        display: block;
        margin-bottom: 15px;
      }
      .video__title {
        font-size: 22px;
        font-weight: 300;
      }
      .video__views {
        font-size: 14px;
      }
      .video__description {
        font-size: 16px;
      }
    }
    .video__comments {
      margin-top: 25px;
      text-align: center;
      max-width: 100%;
      .video__comment-number {
        font-size: 18px;
      }
      .add__comment {
        margin-top: 25px;
        width: 100%;
        input {
          width: 100%;
        }
      }
      .video__comments-list {
        margin-top: 50px;
        li {
          display: flex;
          flex-direction: row;
          &:not(:last-child) {
            margin-bottom: 15px;
          }
          display: flex;
          align-items: center;
          .comment_creator{
            background-color: #115973;
            color: white;
            padding: 15px;
          }
          .comment_text{
            max-width: 100%;
            background-color: $black;
            color: white;
            padding: 15px;

          }
          .comment_delBtn {
            margin-left: 10px;
            font-size: 15px;
            padding: 5px;
            background-color: white;
            border: 2px solid $black;
            border-radius: 25px;
            color: $black;
            cursor: pointer;
          }
          
        }
      }

    }
  }